<div class="click">
  {{name}}
</div>
<span class="right">
  <a href="" class="action icon-add gray"></a>
  <a href="" class="action icon-love btn-love gray"></a>
  <a href="" class="action icon-share gray"></a>
</span>
