.Perfil
	&-playlist
		h2
			border-top none
			border-bottom 1px solid gris_claro
			text-align left
			padding .3em
			margin-bottom 0
			&:before
				font-family 'sfotipy'
				content "\e60e"
				font-size .8em
				margin-right .5em

.playlist-playlistVacia
	.mobile
		display none
	.desktop
		display bloc
