.Perfil
	&-perfil
		a
			font-size 1.5em
			margin .8em 1.2em


		h2
			font-size 2em

	&-playlist

		h2
			//display none
			border-top 1px solid gris_claro
			border-bottom none
			color rojo
			font-size 2em
			padding .8em
			text-align center
			
.playlist-playlistVacia
	.mobile
		border-top 1px solid gris_claro
		figure
			width 11em
			height 11em
		p
			font-size 1.8em
