/*
	---Perfil---
*/

.Perfil
	max-width 1000px
	margin 0 auto

	&-perfil
		margin 0 auto
		text-align center
		width 100%
		overflow hidden

		a
			background rojo
			color white
			border-radius 5px
			font-size 1em
			margin .8em 1.2em
			padding .5em 1em
			max-padding .8em 1.2em
			float right

		figure
			margin 1em auto
			max-width 13.8em
			width 30%
			img
				background gris_claro
				border-radius 50%
				height 100%
				width 100%

		h2
			color gris_claro
			font-size 1.2em
			font-weight normal


	&-playlist
		//display none

		h2
			border-bottom 1px solid gris_claro
			color gris_oscuro
			font-size 1.1em
			padding .5em
			text-align left

.playlist-playlistVacia
	display none
	.mobile
		margin 0 auto
		text-align center
		width 100%

		figure
			height 5.4em
			margin 3em auto 1em auto
			width 5.4em

			img
				border-radius 50%
				width 100%

		p
			color gris_claro
			margin 1em auto 3em auto
			width 12.5em

	.desktop
		display none
		text-align center
		padding 1em
		figure
			height 13.8em
			margin 3em auto 1em auto
			width 13.8em

			img
				border-radius 50%
				width 100%

		a
			color rojo
			text-decoration underline
			font-size 2.3em
