/*
	---Perfil---
*/

.Perfil
	max-width 1000px
	margin 0 auto

	.btn-change
		color rojo
		text-decoration underline
		font-size 1em

	&-perfil
		margin 0 auto
		text-align center
		width 100%
		overflow hidden

		.btn-edit
			background rojo
			color white
			border-radius 5px
			font-size 1em
			margin .8em 1.2em
			padding .5em 1em
			max-padding .8em 1.2em
			float right

		.btn-back
			color grey
			font-weight bold
			font-size 1.5em
			float left
			margin 0 1em
			a
				color rojo
		.btn-back.desktop
			display none
			color rojo
			span
				color gris_claro

		figure
			margin 1em auto
			max-width 13.8em
			width 30%
			img
				background gris_claro
				border-radius 50%
				height 100%
				width 100%

		h2
			color gris_claro
			font-size 1.2em
			font-weight normal


	&-playlist
		h2
			border-bottom 1px solid gris_claro
			color gris_oscuro
			font-size 1.1em
			padding .5em
			text-align left

		// Menu of navigation
		.menu
			display none
			background gris_mas_claro
			border-top 1px solid gris_claro
			left 0
			overflow hidden
			padding inherit
			position inherit
			width 100%
			.list
				width 1000px
				.item
					float left
					list-style none
					a
						color gris_oscuro
						cursor pointer
						display block
						padding 1em
						text-transform uppercase
						border-top 5px solid transparent
						transition .3s border-top
						&:hover
							border-top 5px solid gris_claro
							color rojo

.playlist-playlistVacia
	.mobile
		margin 0 auto
		text-align center
		width 100%

		figure
			height 5.4em
			margin 3em auto 1em auto
			width 5.4em

			img
				border-radius 50%
				width 100%

		p
			color gris_claro
			margin 1em auto 3em auto
			width 12.5em

	.desktop
		display none
		text-align center
		padding 1em
		figure
			height 13.8em
			margin 3em auto 1em auto
			width 13.8em

			img
				border-radius 50%
				width 100%

		a
			color rojo
			text-decoration underline
			font-size 2.3em

.Perfil
	.modal-message
		width 80%
		text-align center
		margin 0 auto
		max-width 25em
		border-radius .3em
		border .5px solid gris_mas_claro
		padding 1.5em
		margin-top 1em
	.alert
		color brown
		background #F2DEDE
	.success
		color #85AD83
		background #DFF0D8
	.campo-text
		text-align left
		color gris_claro
		margin 0 auto
		width calc(100% - 3em)
		p
			margin 1em 0 .5em 0
		input
		button
			border 1px solid gris_claro
			border-radius 5px
			display block
			font-size 1em
			height 2.9em
			margin 0 auto
			padding 0 .5em 0 .5em
			width calc(100% - 1em)

		button
			background rosa
			color white
			margin 1.5em 0
			width 100%

.Perfil-edit
	border-top 1px solid gris_claro
	text-align center

.Perfil-edit-password
	border-top 1px solid gris_claro
	text-align center
	padding 2em 0
	.edit-password
		display none
	.campo-text
		margin 1em auto
