#player-min
  background white
  .info-min
    float left
    margin-left 80px
    text-align initial
    span.name
      width 15em
      margin-left 0
    span.artist
      margin-left 0
  .btns-min
    display block
