#player-min
  background white
  .info-min
    float left
    margin-left 10px
    text-align initial
    span.name
      width 15em
    span.artist
      margin-left 70px
  .btns-min
    display block
