#player-min
  background #f0f0f0
  height 70px
  position fixed
  width 100%
  text-align center
  bottom 0
  box-shadow 0 5px 20px black
  .progress-min
    background gris_claro
    cursor pointer
    height 2px
    width 100%
    .state
      background rojo
      width 0
      height 2px
  .image-min
    width 68px
    display inline-block
    height 68px
    float left
    img
      width 100%
      height 100%
  .info-min
    margin-left -70px
    margin-top 15px
    font-size 1.1em
    text-align center
    display inline-block
    span
      display block
      font-size 13px
      color gray
  .btns-min
    display none
    position absolute
    right 0
    left 284px
    .action
      margin-top .25em
    .icon-vol
    .icon-mute
      float right
    .icon-random
      float right
    .range-vol
      padding .85em
      padding-left 0
      float right
