<h2 class="Library-title">Library - {{ name }}</h2>
<div class="playlist-playlistVacia">
  <div class="mobile">
    <figure>
      <img src="/assets/img/vacia.jpg" />
    </figure>
    <p>
      Todavía no sigues ningun(a) {{ name }}, empieza a escuchar y a descubrir
    </p>
  </div>
  <div class="desktop">
    <figure>
      <img src="/assets/img/agregarlist.jpg" />
    </figure>
    <a href="#">
      Todavía no sigues ningun(a) {{ name }}
    </a>
  </div>
</div>
