<div class="playlist-playlistVacia">
  <div class="mobile">
    <figure>
      <img src="/assets/img/vacia.jpg" />
    </figure>
    <p>
      Todavía no sigues ningun album, empieza a escuchar y a descubrir
    </p>
  </div>
  <div class="desktop">
    <figure>
      <img src="/assets/img/agregarlist.jpg" />
    </figure>
    <a href="#">
      Seguir albums
    </a>
  </div>
</div>
