<figure class="coverConten">
  <img class="cover" width="128" height="128" src="{{ cover }}" alt="">
</figure>
<div class="titleConten">
  <span class="title">
  {{ name }}
  </span>
  <span class="slug">
  {{ author }}
  </span>
</div>