<figure class="coverConten">
  {{# if images}}
  {{# each images }}
    {{# if @last }}
      <img class="cover" width="128" height="128" src="{{ this.url }}" alt="{{ name }}">
    {{/ if }}
  {{/ each }}
  {{else}}
    <img class="cover" width="128" height="128" src="http://www.andreagal.com/wp-content/themes/andreagal/images/no-track-image.png" alt="no track">
  {{/ if }}
</figure>
<div class="titleConten line-unique">
  <span class="title">
    {{ name }}
  </span>
</div>