<section class="Search container">
  <form class="Search-form relative">
    <span class="icon-search"></span>
    <input type="search" value="{{ query }}">
  </form>

  <section id="results" class="Search-results">

    <section class="Search-artists results-items relative">
      <h3 class="Search-lengend"> Artist </h3>
      <div class="list">
        <!--Artists-->
        <div class="loader"></div>
      </div>
      <a href="#" class="Search-viewMore">View all artists</a>
    </section>

    <section class="Search-albums results-items relative">
      <h3 class="Search-lengend"> Albums </h3>
      <div class="list">
        <!--Albums-->
        <div class="loader"></div>    
      </div>
      <a href="#" class="Search-viewMore">View all albums</a>
    </section>

    <section class="Search-songs results-items relative">
      <h3 class="Search-lengend"> Songs </h3>
      <div class="list">
        <!-- Songs -->
        <div class="loader"></div>   
      </div>
      <a href="#" class="Search-viewMore">View all songs</a>
    </section>

  </section>
</section>