.Header
  border-bottom 1px solid gris_claro
  height 3.5em
  margin 0 auto
  position relative
  
  &-logo
    border-bottom 1px solid gris_claro
    overflow hidden
    background white
    display none
    padding-bottom 1.3em
    .container
      margin 0 auto
      center-block()
      wrap()
      
      .image
        float left
        width 122px
      
      .user
        float right
      
      .avatar
        border-radius 50%
        float left
        height 38px
        overflow hidden
        width 38px
      
      .username
        color gris_claro
        float left
        margin-left .5em
        position relative
        top 9px
        &:after
            content ""
            border-left 7px solid transparent
            border-right 7px solid transparent
            border-top 9px solid gris_claro
            display inline-block
            margin-left .4em
      
      .search
        float right
        .form
          position relative
          .icon-search
            position absolute
            left .5em
            top .8em
            color gris_claro
          .input
            input()
          .close-icon
            cursor pointer
            position absolute
            top .5em
            color gris_claro
            right .5em
            font-size 1.2em
  &-btnMenu
    color gris_oscuro
    left 1.5em
    margin-top -10px
    position absolute
    top 50%
  
  &-menu
    wrap()
    fixed()
    border none
    display block
    z-index 1
    width 80%
    left -80%
    height 100%
    background rgba(#000, 0.9)
    .search-mobile
      search-mobile()
      
      .icon-search
          icon-search-big()
      input
        search-mobile-input()
    .list
      overflow-y auto
      max-height 70vh
    .item
      list-style none
      width 85%
      margin 0 auto
      a
        display block
        padding 1em 0
        color gris_mas_claro
        border-bottom 1px gris_mas_claro solid
        transition .4s color
        &:hover
        &:active
          color rojo
  &-title
    font-size 1.1em
    line-height 3.5em
    margin 0
    text-align center
    