.portada
  position relative
  height 37.5em
  padding 2em 0

  .isotipo
    position absolute
    left 12%
    width 15em

  .texto
    margin-top 3em
    font-size 3.3em
    margin-bottom 1em

  .id-login
    display block
  .id-create
    margin-top .5em
    display block
    &:before
      content: 'or'
      margin-right .3em
      text-decoration underline
      color #fefefe

.login
  .list
    display none

.contenedor
  width 80%
  max-width 1400px
  margin 0 auto
  article
    height 18em
    position relative
    .img
      left 0
      margin 0 auto
      position absolute
      width 50%
      img
        height 100%
        border-radius 50%
        width 18.7em


    div
      position absolute
      right 0
      top 2em
      width 50%
      text-align center

  article:nth-child(even)
    .img
      right 0
      left auto

    div
      left 0

.login
  .create
  .enter
    border-bottom 2px solid rgba(gris_claro, .3)
    border-top none
    margin 1em auto
    width 80%
    max-width 1400px

    p
      position relative
      width 40em
      margin 0 auto
