.portada
  position relative
  height 37.5em
  padding 2em 0

  .isotipo
    position absolute
    left 12.5em
    width 15em

  .texto
    margin-top 3em
    font-size 3.3em
    margin-bottom 1em

  .id-login
  .id-create
    display block

.login
  .list
    display none

.contenedor
  max-width 1400px
  margin 0 auto
  article
    height 18em
    margin 1em 5em 2em 5em
    position relative
    width calc(100% - 10em)
    .img
      left 0
      margin 0 auto
      position absolute
      width 50%
      img
        border-radius 50%
        width 18.7em


    div
      position absolute
      right 0
      top 2em
      width 50%
      text-align left

      p
        margin 0

  article:nth-child(even)
    .img
      right 0
      left auto

    div
      left 0

.login
  .create
  .enter
    border-bottom 2px solid rgba(gris_claro, .3)
    border-top none
    margin 1em auto
    width 70%

    p
      position relative
      width 40em
      margin 0 auto
