/*
	Estilos de pagina de login
*/
#login
	background white
.portada
	background-image url("/assets/img/cover.jpg")
	background-repeat no-repeat
	background-position:right
	background-size cover
	color white
	padding 80px 0
	text-align center
	width 100%

	.texto
		font-size 22px
		max-width 70%

	.isotipo
		margin 0 auto
		margin-bottom .5em
		width 180px
		img
			width 100%

	.id-create
	.id-login
		display none
		color rojo
		font-size 1.5em
		text-decoration underline
		span
			color white
	.id-login
		float right
		margin-right 12%
		margin-top .5em

	.id-create
		text-shadow: 2px 2px 0.9em #000;


	.facebook
	.twitter
		border-radius 5px
		color white
		display block
		height 2.8em
		margin-top .3em
		text-align left
		width 13.5em

		p
			font-size 0.7em
			padding 1.5em

			span
				float left
				border-right 2px solid rgba(gris_oscuro, .3)
				font-size 2em
				margin -.3em .2em 0 0
				padding 0 .3em 0 0
	.facebook
		background #3D5A98
	.twitter
		background #5FA9DD

.Home-message
	color brown
	width 80%
	text-align center
	margin 0 auto
	background #F2DEDE
	max-width 25em
	border-radius .3em
	border .5px solid gris_mas_claro
	padding 1.5em
	margin-top 6em

.login
	.Home-loginBasic
		.item
			display inline-block
			width 46%
			text-align center
			&:first-child
				width 50%
				border-right rgba(0, 0, 0, .4) 2px solid
			a
				display block
				padding 1em 0
				text-decoration underline
				color gris_oscuro
				transition .4s color
			&:hover
				color rojo

	.create
	.enter
		border-bottom 1px solid rgba(gris_claro, .3)
		margin 1em auto
		h2
			color gris_oscuro
			font-size 1.1em
			font-weight normal
			text-align center

		p
			position relative

			input
				border 1px solid gris_claro
				border-radius 5px
				display block
				font-size 1em
				height 2.9em
				margin .7em auto
				padding 0 0 0 2.5em
				width calc(100% - 5em)

			input[type="submit"]
				background rosa
				color white
				font-size 1em
				padding 0
				width calc(100% - 2.3em)

			.icon-username:before
				form("\e602", 1.3em)
			.icon-email:before
				form("\e60f", 1em)
				left 2em
				top 1em
			.icon-password:before
				form("\e601", 1.3em)



.contenedor
	article
		margin 1em 0 2em 0
		text-align center
		.img
			height 8.6em
			margin 0 auto
			width 100%
			overflow hidden
			img
				height 150%
				width 100%

		h2
			color gris_oscuro
			font-size 1.1em
			font-weight normal
			margin .8em 0 .5em 0
		p
			color gris_claro
			font-size 1em
			margin 0 auto
			width 85%

.message
	border-top 1px solid rgba(gris_claro, .4)
	color gris_claro
	font-size 1.2em
	margin 0 auto
	padding 1em auto
	text-align center
	width 90%

footer
	display none
	background gris_oscuro
	color white
	padding 0 1em
	height 2.5em

	p
		display inline-block
		font-size 1.2em
		margin .5em auto

	a
		color white
		float right
		font-size .8em
		margin .9em .5em
		text-decoration underline
