/*
  --Login--
*/
.portada
  background-position:center
  background-size cover
  height 37em
  padding 17.5em 0 0 0

  .isotipo
    height 7.5em
    width 25em

  .texto
    font-size 2.3em
    margin 1.6em auto

  .facebook
  .twitter
    height 6em
    width 28.9em

    p
      font-size 1.5em

.contenedor
  article
    .img
      height 17.3em

    h2
      font-size 2.3em

    p
      font-size 2em

.login
  .Home-loginBasic .item
    a
      font-size 1.6em

  .create
  .enter
    h2
      font-size 2.3em
    p
      input
        font-size 2em
        height 2.9em
        margin .7em auto

      input[type="submit"]
        font-size 2em

      .icon-username:before
        form("\e602", 2.5em)
      .icon-email:before
        form("\e60f", 2.1em)
        left 1.8em
        top 1em
      .icon-password:before
        form("\e601", 2.5em)

.message
  display none


footer
  display block
  height 4.2em
  p
    font-size 2em

  a
    font-size 1.3em
    margin .9em 1em
