<figure class="image">
  <div class="button">
    <button class="icon-play"></button>
  </div>
  <div class="img" style="background-image: url('{{ image }}')"></div>
  <div class="image-background"  style="background-image: url('{{ image }}')"></div>
  <div class="opacity-background"></div>
</figure>
<p class="name">
  {{name}}
</p>
<p class="author">
  <span class="slug">
    SIGUIENTDO
  </span>
</p>
