@import "nib"
@import "normalize.styl"
@import "fonts.styl"
@import "spinner.styl"

vendor-prefixes = webkit o ms moz official
// animacion(parametro)
//  -webkit-animation parametro
//  -moz-animation parametro
//  -o-animation parametro
//  -ms-animation parametro
//  animation parametro

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
rosa = #CC2F6F
gris_mas_claro = #F0F0F0
facebook = #3B5998
twitter = #5EA9DD

form(content, size)
  font-size size
  position absolute
  content content
  left 1.7em
  top .6em
  color gris_claro

a
    text-decoration none
body
    font-family 'Work Sans', sans-serif
    font-size 16px

figure
    margin 0
img
    vertical-align top
ul
    margin 0
    padding 0
    padding-bottom .4em

//utilitis
wrap()
    max-width 980px
fixed()
    position fixed
// Botones
.btn
    padding .5em 1em
    background gris_claro
    color #fff
    border-radius 5px
    border 1px solid transparent
    cursor pointer
.btn-red
  background rojo
  &:hover
    background white
    color rojo
    border 1px solid
.btn-white
    background white
    color rojo
    border 1px solid
    &:hover
        background rojo
        color white
btn-submit()
    border none
    margin 0 auto
    display block
    background rojo
    height 2em
    line-height 2em
    border-radius .3em
    text-align center
    width 90%
    color #fefefe
    font-size 1.4em

search-mobile()
    padding 2em 0
    margin 0 auto
    width 85%


search-mobile-input()
    outline none
    border none
    border-radius .5em
    padding .5em
    width 70%

icon-search-big()
    color white
    font-size 2em
    position: absolute
    right 0

text-wrapper()
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
.opacity
  display none
  z-index 4
  position fixed
  width 100%
  height 100%
  background gris_mas_claro
.input-form
    background none
    border gris_claro 1px solid
    border none
    bottom 0
    left 1.8em
    outline none
    position: absolute
    text-indent .3em
    top 0
    width 90%

//buttons
.button-menu
    color gris_oscuro
    left 1.5em
    margin-top -10px
    position absolute
    top 50%
//oocss classes
.container
    margin 0 auto
    max-width 980px
    padding 1.4rem 0
    text-align center
.action
    outline none
    color white
    border none
    background none
    padding .2em .5em
    font-size 1.2em
    margin-right .5em
    transition all .3s
    &:last-child
        margin-right 0
    &.gray
        margin-bottom .3em
        color gris_claro
        border-radius .2em
        &.icon-vol
            input
                outline none
        &:hover
            color gris_oscuro
        &:active
            color gris_oscuro
            box-shadow inset 0 0 .4em rgba(gris_oscuro, .75)
    &.red
        color red
.isActive
    color gris_oscuro
    box-shadow inset 0 0 .4em rgba(gris_oscuro, .75)
    border-radius .2em

.description
    .name
        padding 1em 0
        margin 0
        font-size 1.1em
        background rgba(black,.3)
        color white
        width 100%
        position absolute
        top 0
        .slug a
          color white
          &:hover
            text-decoration underline
// .music
//     display none
.actions
    position absolute
    bottom 0
    left 0
    right 0
    background rgba(black,.3)

.name
    color gris_oscuro
.relative
    position relative
//.author
//  color gris_claro
.center-block
    margin 0 auto
.center-text
    text-align center
.right-text
    text-align right
.relative
    position relative
.padding
    padding 1em
    padding-top 1.5em
.padding-tb
    padding 1em 0
.left
    float left
.right
    float right
.border-bottom
    border-bottom 1px solid rgba(gris_claro, 0.51)

.item-playing
		border-left 3px solid rojo
		text-shadow 1px -1px rgba(189, 37, 91, 0.61)

.round
    border-radius 50%
    overflow hidden

.header
    height 3.5em

    // a
    //  display none
    .title
        font-size 1.1em
        line-height 3.5em
        margin 0
        text-align center

.song
    background transparent
    display inline-block
    font-size 1rem
    margin-bottom 1em
    margin-left .5em
    margin-right .5em
    text-align left
    vertical-align top
    width 8rem
    position relative
    .name
    .author
      cursor pointer
      position initial
      color gris_oscuro
      left 5px

    .name
      font-size 15px
    .author
      bottom 20px
      font-size .8em
    .image:hover
      .button
        display block
      img
        transform scale(1.2)
    .image
      height: 128px
      background-image url(http://www.andreagal.com/wp-content/themes/andreagal/images/no-track-image.png)
      background-size cover
      overflow hidden
      img
        transition all .5s ease
    .button
      cursor pointer
      z-index 2
      display none
      position absolute
      width 128px
      height 128px
      line-height 135px
      text-align center
      background rgba(#000, .5)
      .icon-play
        outline none
        box-shadow 0px 0px 15px #000
        background rgba(#000, .7)
        padding .8em
        border 1px gris_mas_claro solid
        border-radius 50%
        font-size 1.2em
        color gris_mas_claro
        cursor default
        transition all .2s ease
        &:hover
          color white
          background rgba(#000, .9)
          border-color white
          transform scale(1.1)
        &:before
          position relative
          left 2px
    p
        text-wrapper()
        margin .5em 0


.input
    overflow hidden
    border 1px solid gris_claro
    height 2.5em
    border-radius 5px
    padding 0 1em 0 2em
.search-icon
    position absolute
    left .5em
    top .8em
    color gris_claro


.isotipo
    width 122px
.logo
    background white
    padding 1.3em 0
    display none
    clearfix()
    .center-block
        wrap()
.avatar
    width 38px
    height 38px
.Header .username
    color gris_claro
    position relative
    top 9px
    margin-left .5em
    &:after
        border-left 7px solid transparent
        border-right 7px solid transparent
        border-top 9px solid gris_claro
        content ""
            display inline-block
            margin-left .4em

// imports components globals
@import 'inputs/range.styl'
//imports components
@import 'home/style.styl'
@import 'header/style.styl'
@import 'share/style.styl'
@import 'search/style.styl'
@import 'user/style.styl'
@import 'playerDown/style.styl'
@import 'player/style.styl'
@import 'artist/style.styl'
@import 'album/style.styl'
@import 'library/style.styl'
@import 'Components/Artist/styles.styl'

@media screen and (min-width:480px)
    @import 'home/tablet480.styl'
    @import 'user/mobile480.styl'
    @import 'player/mobile480.styl'
    @import 'artist/mobile480.styl'
    @import 'album/mobile480.styl'
    main#app
        margin-bottom 70px
    .cover-hit
        img
            margin-bottom 0
            margin-top -50px
    .song
        &:nth-child(even)
            margin-right 1em
    .image
        img
            width 100%
            height auto
/* MEDIA TABLET */
@media screen and (min-width:720px)
    @import 'home/tablet720.styl'
    @import 'user/tablet720.styl'

/* MEDIA DESKTOP */
@media screen and (min-width:1000px)
    body
        background gris_mas_claro

    @import 'home/desktop.styl'
    @import 'header/desktop.styl'
    @import 'search/desktop.styl'
    @import 'user/desktop1000.styl'
    @import 'playerDown/desktop1000.styl'
    @import 'player/desktop1000.styl'
    @import 'artist/desktop1000.styl'
    @import 'album/desktop1000.styl'
    @import 'library/desktop1000.styl'
    @import 'Components/Artist/desktop1000.styl'
