.Home
    &-logo
        img
            top 1em
            left 15%
            position: absolute
        figcaption
            font-size 3em
            width 50%
            margin 0 auto
            margin-top 10vh
    
    &-loginSocial
        padding-bottom 1em
    &-loginBasic
        li
            width auto
            a 
                display inline-block
                text-shadow 2px 2px .9em #000
                color rojo
            &:first-child
                border none
                position: absolute
                top -275px
                right 15%
            &:last-child:before
                content "or"
                margin-right .4em
                color #fefefe
    
    &-createAccount
        padding-top 2em
        width 50%
        margin 0 auto
    
    &-landing
        width 70%
        margin 0 auto
        div
            overflow hidden
            margin-bottom 2em
            &:nth-child(even)
                overflow hidden
                .cover-hit
                    float right
                .copy
                    right 0
                    left 15%
                    float left
            .cover-hit
                float left
                height 300px
                width 300px
                border-radius 50%
                img 
                    height 100%
                    width 100%
                    margin 0
            .copy
                float right
                width 40%
                position: relative
                top 80px
                right 15%
                float right
                display inline-block
                .author
                    font-size 1.5em
                .title
                    margin 0 auto
                    width 80%
    &-footerConten
        margin 0 auto
        width 70%