<!DOCTYPE html>
<html lang="en">

{% include "./components/head.html" %}

<body>
  <header class="Header">

    <div class="Header-logo">
      <div class="container">

        <figure class="image">
          <img src="/assets/img/logo.png" alt="Sfotipy"/>
        </figure>

        <div class="search">
          <form id="form-search" class="form ">
            <span class="icon-search"></span>
            <input type="search"  placeholder="Search" class="input">
            <span class="close-icon">x</span>
          </form>
        </div>

      </div>
    </div>

    <a href="#" class="Header-btnMenu icon-menu"></a>

    <nav class="Header-menu">
      <form action="" class="search-mobile relative">
        <span class="icon-search"></span>
        <input type="search">
      </form>
      <ul class="list center-block">
        <li class="item">
          <a href="/top-albums" id="btn-top_hits">Top Albums</a>
        </li>
        <li class="item">
          <a href="/@{{ user.username }}" id="btn-profile">Profile</a>
        </li>
        <li class="item">
          <a href="/@{{ user.username }}/settings">Settings</a>
        </li>
        <li class="item">
          <a href="/@{{ user.username }}/playlists">Playlist</a>
        </li>
        <li class="item">
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="Header-title">
      <span>
        Top Albums
      </span>
    </div>
  </header>

  <main id="app" class="app">
    <section class="ArtistView">
      <div class="artist">
        <div class="info-artist">
          <div class="photo-artist"></div>
          <div class="name-artist">
            Avril Lavigne
          </div>
          <div class="option-artist">
            <a href="#">Seguir</a>
            <a href="#">Compartir</a>
          </div>
          <div class="followers-artist">
            Seguidores:
            <span>1732787</span>
          </div>
        </div>
        <div class="top-tracks">
          <h2 class="title">
            Canciones más Populares
          </h2>
          <ul class="songs">
            <li class="item">
              <div class="click">
                Complicate
              </div>
              <span class="right">
                <a href="" class="action icon-add gray"></a>
                <a href="" class="action icon-love gray"></a>
                <a href="" class="action icon-share gray"></a>
              </span>
            </li>
            <li class="item">
              <div class="click">
                Sk8er Boi
              </div>
              <span class="right">
                <a href="" class="action icon-add gray"></a>
                <a href="" class="action icon-love gray"></a>
                <a href="" class="action icon-share gray"></a>
              </span>
            </li>
            <li class="item">
              <div class="click">
                Grilfrend
              </div>
              <span class="right">
                <a href="" class="action icon-add gray"></a>
                <a href="" class="action icon-love gray"></a>
                <a href="" class="action icon-share gray"></a>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <h2 class="title-2">Albumes</h2>
      <div class="albums-artist">
        <article class="album">
          <div class="info-album">
            <div class="photo-album"></div>
            <p class="year">
              2013
            </p>
            <p class="name">
              Avril Lavigne
            </p>
            <a href="#" class="btn-save">Guardar</a>
          </div>
          <ul class="songs">
            <li class="item item-fixed">
              <span class="number">#</span>
              <span class="click">Canción</span>
              <span class="duration">x</span>
            </li>
            <li class="item">
              <span class="number">1</span>
              <span class="click">Rock N Roll</span>
              <span class="duration">3:27</span>
            </li>
            <li class="item">
              <span class="number">2</span>
              <span class="click">Here's to Never Growing Up</span>
              <span class="duration">3:34</span>
            </li>
            <li class="item">
              <span class="number">3</span>
              <span class="click">17</span>
              <span class="duration">3:25</span>
            </li>
            <li class="item">
              <span class="number">4</span>
              <span class="click">Bitchin' Summer</span>
              <span class="duration">3:31</span>
            </li>
          </ul>
        </article>
        <article class="album">
          <div class="info-album">
            <div class="photo-album" style="background-image: url('https://i.scdn.co/image/dbde9c170921497064e8cdff4f2fa6e6030a195f')"></div>
            <p class="year">
              2011
            </p>
            <p class="name">
              Goodbye Lullaby
            </p>
            <a href="#" class="btn-save">Guardar</a>
          </div>
          <ul class="songs">
            <li class="item item-fixed">
              <span class="number">#</span>
              <span class="click">Canción</span>
              <span class="duration">x</span>
            </li>
            <li class="item">
              <span class="number">1</span>
              <span class="click">Black Star</span>
              <span class="duration">1:34</span>
            </li>
            <li class="item">
              <span class="number">2</span>
              <span class="click">What the Hell</span>
              <span class="duration">3:41</span>
            </li>
            <li class="item">
              <span class="number">3</span>
              <span class="click">Push</span>
              <span class="duration">3:01</span>
            </li>
            <li class="item">
              <span class="number">4</span>
              <span class="click">Wish You Were Here</span>
              <span class="duration">3:46</span>
            </li>
          </ul>
        </article>
      </div>
    </section>
  </main>

  <section id="player-min">
    <div class="progress-min">
      <div class="state">

      </div>
    </div>
    <span id="currentSong">
      <figure class="image-min">
        <img src="http://www.andreagal.com/wp-content/themes/andreagal/images/no-track-image.png" />
      </figure>
    </span>
    <div class="btns-min play center-text padding-tb">
      <input class="range-vol" type="range" min="0" max="1" step="0.01" value="1">
      <button id="volume" class="action gray icon-vol"></button>
      <button class="action gray icon-random"></button>
      <button class="action gray icon-prev"></button>
      <button id="play" class="action gray icon-stop"></button>
      <button class="action gray icon-next"></button>
    </div>
  </section>
  <script src="/app.js"></script>
  </body>
</html>
