<!DOCTYPE html>
<html lang="en">

{% include "./components/head.html" %}

<body>
  <header class="Header">

    <div class="Header-logo">
      <div class="container">
        
        <figure class="image">
          <img src="/assets/img/logo.png" alt="Sfotipy"/>
        </figure>

        <div class="search">
          <form id="form-search" class="form ">
            <span class="icon-search"></span>
            <input type="search"  placeholder="Search" class="input">
            <span class="close-icon">x</span>
          </form>
        </div>

      </div>
    </div>

    <a href="#" class="Header-btnMenu icon-menu"></a>

    <nav class="Header-menu">
      <form action="" class="search-mobile relative">
        <span class="icon-search"></span>
        <input type="search">
      </form>
      <ul class="list center-block">
        <li class="item">
          <a href="/top-albums" id="btn-top_hits">Top Albums</a>
        </li>
        <li class="item">
          <a href="/@{{ user.username }}" id="btn-profile">Profile</a>
        </li>
        <li class="item">
          <a href="/@{{ user.username }}/settings">Settings</a>
        </li>
        <li class="item">
          <a href="/@{{ user.username }}/playlists">Playlist</a>
        </li>
        <li class="item">
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
    
    <div class="Header-title">
      <span>
        Top Albums
      </span>
    </div>
  </header>

  <main id="app" class="app"></main>
  <section id="player"></section>

  
  <!-- Modal-right -->
  <div class="Share">

  </div>

  <!-- Top hits Music -->
  

  <!-- ptofile, setting, edit-profile -->
  <div id="content">

  </div>

  <!-- playlist, Albums -->
  <section id="albums" class="container">
  </section>

  <section class="Search container">
    <form class="Search-form relative">
      <span class="icon-search"></span>
      <input type="search">
    </form>

    <section id="results" class="Search-results">

      <section class="Search-artists results-items relative">
        <h3 class="Search-lengend">
          Artist
        </h3>
        <div class="list">
          <!--Artists-->
        </div>
        <a href="#" class="Search-viewMore">View all artists</a>
      </section>

      <section class="Search-albums results-items relative">
        <h3 class="Search-lengend">
          Albums
        </h3>
        <div class="list">
          <!--Albums-->
        </div>
        <a href="#" class="Search-viewMore">View all albums</a>
      </section>
      <section class="Search-songs results-items relative">
        <h3 class="Search-lengend">
          Songs
        </h3>
        <div class="list">
          <!-- Songs -->
        </div>
        <a href="#" class="Search-viewMore">View all songs</a>
      </section>
    </section>
  </section>

  <script src="/app.js"></script>
  </body>
</html>