<div class="Share-container">
  <a href="#" class="Share-close">x</a>
  <h3 class="Share-item border-bottom">Add to a playlist</h3>
  <a href="#" id="showForm" class="Share-item border-bottom"><span>+</span>New playlist</a>
    <form id="form" action="">
      <input type="text" title="Only 20 characters" class="input" autocomplete="false" placeholder="Enter name..." required>
    </form>
  <ul class="Share-list">
    <div class="loader small" style="color: white;"></div>
  </ul>
</div>
