<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sfotipy</title>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/app.css">
	<link rel="icon" href="/assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>
  <section class="Home">
    <figure class="Home-logo">
      <img src="/assets/img/logo.png" alt="">
      <figcaption>All music that you like, everywhere</figcaption>
    </figure>
    <div class="Home-login">
      <ul class="Home-loginSocial">
        <li class="btn">
          <a href="auth/facebook" class="facebook"><span class="icon-facebook"></span>Connect with Facebook</a>
        </li>
        <li class="btn twitter">
          <a href="auth/twitter" class="twitter"><span class="icon-twitter"></span>Connect with Twitter</a>
        </li>
      </ul>

      <ul class="Home-loginBasic">
        <li>
          <a href="#" id="login">Log In</a>
        </li>
        <li>
          <a href="#" id="sign-in">Create Account</a>
        </li>
      </ul>
    </div>

		{% if message.length %}
		 	<div class="Home-message">{{ message }}</div>
		{% endif %}
    <form id="form" method="POST" action"/login" class="Home-createAccount">

    </form>

    <aside class="Home-landing">
      <div>
        <figure class="cover-hit">
          <img src="/assets/img/cover2.jpg" alt="" />
        </figure>
        <div class="copy">
          <p class="author">Listen</p>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div>
        <figure class="cover-hit">
          <img src="/assets/img/cover_comparte2.jpg" alt="" />
        </figure>
        <div class="copy">
          <p class="author">Shares</p>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div>
        <figure class="cover-hit">
          <img src="/assets/img/cover_sigueplaylist2.jpg" alt="" />
        </figure>
        <div class="copy">
          <p class="author">Creates and follow playlist</p>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="slug author">
        Stars listening now
      </div>
    </aside>

    <footer class="Home-footer">
     <div class="Home-footerConten">
        <span class="icon-sfotipy"></span>
        <span>
          <a href="#">about us</a>
          <a href="#">legal</a>
        </span>
      </div>
    </footer>
  </section>

  <script src="/app.js"></script>
  </body>
</html>
