// Album from artist
.ViewAlbum
  .info-album
    position relative
    height 200px
    .btn-more-mobile
      display none
    .photo-album
      width 150px
      height 150px
    .type
      margin-left calc(150px + 1em)
    .name
      margin-left calc(150px + .4em)
      font-size 2em
    .description
      margin-left calc(150px + 1em)
      top 8em
      left .4em
      font-size 1em
    .options
      top 3.2em
      display block
  .songs
    padding-top 1em
