// Album from artist
.ViewAlbum
  .info-album
    position initial
    .photo-album
      width 120px
      height 120px
    .type
      margin-left calc(120px + 1em)
    .name
      margin-left calc(120px + .4em)
      font-size 1.7em
    .description
      margin-left calc(120px + 1em)
      top 160px
      left .4em
      font-size .8em
  .songs
    padding-top 1em
