// Album from artist
.ViewAlbum
  max-width 1000px
  margin 0 auto
  margin-bottom 50px
  .info-album
    padding .5em
    overflow hidden
    position initial
    .photo-album
      background-position center
      background-size cover
      background-repeat no-repeat
      width 100px
      height 100px
      float left
    .type
      margin-left calc(100px + 1em)
    .name
      margin 0
      margin-left calc(100px + .4em)
      font-size 1.5em
      font-style italic
      font-weight normal
    .description
      margin 0
      margin-left calc(100px + 1em)
      position absolute
      top 175px
      left -105px
      font-size .8em
      a
        font-weight bold
        color gris_oscuro
        &:hover
          text-decoration underline
    .btn-more-mobile
      float right
      padding .3em .8em
    .options
      display none
      overflow hidden
      height 40px
      padding 1em 0 0 0
      position relative
      float left
      width 300px
      margin-left -150px
      margin-top .5em
      a
        position absolute
      .btn-play
        left 85px
      .btn-more
        left 180px

  .songs
    list-style none
    padding-top 2.5em
    .item
      padding .8em 0
      cursor pointer
      &:hover
        background rgba(gris_claro, .3)

      .number
        margin 0 .5em
        font-weight lighter
        float left
      .duration
        float right
        margin-right .5em
        font-weight lighter
        font-size .9em
        margin-top .2em
      .click
        display inline-block
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        width calc(100% - 6em)
    .item-fixed
      font-weight lighter
      cursor initial
      &:hover
        background none
  .copyrights
    margin-top .3em
    padding .5em 0
    font-size .7em
    p
      margin .5em
