<div class="ViewAlbum">
  <div class="info-album">
    <div class="photo-album" style="background-image: url('{{ cover }}')"></div>
    <p class="type">{{ type }}</p>
    <h2 class="name">{{ name }}</h2>
    <p class="description">De <span>{{ artists.name }}</span> / 2015 / 12 canciones, 42 min</p>
  </div>
  <ul class="songs">
    <li class="item item-fixed">
      <span class="number">#</span>
      <span class="click">Canción</span>
      <span class="duration">x</span>
    </li>
    <div class="loader small">

    </div>
  </ul>
</div>
