article.artist
  background transparent
  display inline-block
  font-size 1rem
  margin-bottom 1em
  margin-left .5em
  margin-right .5em
  text-align left
  vertical-align top
  width 8rem
  position relative
  .name
    cursor pointer
    position initial
    color gris_oscuro
    left 5px
    font-size 15px

  .image:hover
    .button
      display block
  .image
    height 128px
    overflow hidden
    img
      transition all .5s ease
  .button
    cursor pointer
    z-index 2
    display none
    position absolute
    width 128px
    height 128px
    line-height 135px
    text-align center
    background rgba(#000, .5)
    .icon-play
      outline none
      box-shadow 0px 0px 15px #000
      background rgba(#000, .7)
      padding .8em
      border 1px gris_mas_claro solid
      border-radius 50%
      font-size 1.2em
      color gris_mas_claro
      cursor default
      transition all .2s ease
      &:hover
        color white
        background rgba(#000, .9)
        border-color white
        transform scale(1.1)
      &:before
        position relative
        left 2px
  p
      text-wrapper()
      margin .5em 0
