#player
  .playing
    wrap()
    padding-top 1.3em
    text-align center
    &.large
      wrap()
      display flex
      justify-content space-between
      margin 0 auto
      overflow hidden
    .playlist
      border-left 1px solid gris_claro
      display inline-block
      width 27em
      max-height 520px
      overflow-y auto
    .music
        width 100%
        max-width 32.5em
        float left
