#player
  padding-bottom 70px
  .playing
    &.small
      width auto
      margin 0 auto
    .image
      img
        width 100%
        height auto
    .playlist
      padding 0 .5em
      .action
        font-size .8em
      .list
        list-style none
        overflow hidden
        border-bottom none
        .item
          cursor pointer
          padding 1em 0
          div.click
            display inline
            height 18px
            margin 0 .3em
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width calc(100% - 15%)
        .item-playing
          border-left 3px solid rojo
          text-shadow 1px -1px rgba(189, 37, 91, 0.61)
          position relative
          &:before
            content ""
            margin 0 .5em
            display inline-block
            background-image url("/assets/img/play.svg")
            background-position center
            background-repeat no-repeat
            background-size cover
            width 20px
            height 20px
            position absolute
            left 0
