<div class="info-album">
  <div class="photo-album" style="background-image: url('{{ cover }}')"></div>
  <p class="year">
    {{ year }}
  </p>
  <p class="name">
    {{ name }}
  </p>
  <a href="#" class="btn btn-red btn-save">Guardar</a>
  <a href="#" class="btn btn-white btn-play">Reproducir</a>
</div>
