<div class="info-album">
  <div class="photo-album" style="background-image: url('{{ cover }}')"></div>
  <p class="year">
    {{ year }}
  </p>
  <p class="name">
    {{ name }}
  </p>
  <a href="#" class="btn-save">Guardar</a>
</div>
<ul class="songs">
  <li class="item item-fixed">
    <span class="number">#</span>
    <span class="click">Canción</span>
    <span class="duration">x</span>
  </li>
  <div class="loader small">

  </div>
</ul>
