<div class="photo-artist" style="background-image: url('{{ image }}')"></div>
<div class="name-artist">
  {{ name }}
</div>
<div class="option-artist">
  <a href="#" class="btn btn-red">Follow</a>
  <a href="#" class="btn btn-red">Share</a>
</div>
<div class="followers-artist">
  Followers:
  <span>{{ followers }}</span>
</div>
