<div class="photo-artist" style="background-image: url('{{ image }}')"></div>
<div class="name-artist">
  {{ name }}
</div>
<div class="option-artist">
  <a href="#" class="btn btn-red">Seguir</a>
  <a href="#" class="btn btn-red">Compartir</a>
</div>
<div class="followers-artist">
  Seguidores:
  <span>{{ followers }}</span>
</div>
