<section class="ArtistView">
  <div class="artist">
    <div class="info-artist">
      <div class="loader">

      </div>
    </div>
    <div class="top-tracks">
      <h2 class="title">
        Top Tracks
      </h2>
      <ul class="songs">
          <div class="loader small">

          </div>
      </ul>
    </div>
  </div>
  <h2 class="title-2 border-bottom">Albums</h2>
  <div class="albums-artist">

  </div>
</section>
