<section class="ArtistView">
  <div class="artist">
    <div class="info-artist">
      
    </div>
    <div class="top-tracks">
      <h2 class="title">
        Canciones más Populares
      </h2>
      <ul class="songs">
        <li class="item">
          <div class="click">
            Complicate
          </div>
          <span class="right">
            <a href="" class="action icon-add gray"></a>
            <a href="" class="action icon-love gray"></a>
            <a href="" class="action icon-share gray"></a>
          </span>
        </li>
        <li class="item">
          <div class="click">
            Sk8er Boi
          </div>
          <span class="right">
            <a href="" class="action icon-add gray"></a>
            <a href="" class="action icon-love gray"></a>
            <a href="" class="action icon-share gray"></a>
          </span>
        </li>
        <li class="item">
          <div class="click">
            Grilfrend
          </div>
          <span class="right">
            <a href="" class="action icon-add gray"></a>
            <a href="" class="action icon-love gray"></a>
            <a href="" class="action icon-share gray"></a>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <h2 class="title-2">Albumes</h2>
  <div class="albums-artist">
    <article class="album">
      <div class="info-album">
        <div class="photo-album"></div>
        <p class="year">
          2013
        </p>
        <p class="name">
          Avril Lavigne
        </p>
        <a href="#" class="btn-save">Guardar</a>
      </div>
      <ul class="songs">
        <li class="item item-fixed">
          <span class="number">#</span>
          <span class="click">Canción</span>
          <span class="duration">x</span>
        </li>
        <li class="item">
          <span class="number">1</span>
          <span class="click">Rock N Roll</span>
          <span class="duration">3:27</span>
        </li>
        <li class="item">
          <span class="number">2</span>
          <span class="click">Here's to Never Growing Up</span>
          <span class="duration">3:34</span>
        </li>
        <li class="item">
          <span class="number">3</span>
          <span class="click">17</span>
          <span class="duration">3:25</span>
        </li>
        <li class="item">
          <span class="number">4</span>
          <span class="click">Bitchin' Summer</span>
          <span class="duration">3:31</span>
        </li>
      </ul>
    </article>
    <article class="album">
      <div class="info-album">
        <div class="photo-album" style="background-image: url('https://i.scdn.co/image/dbde9c170921497064e8cdff4f2fa6e6030a195f')"></div>
        <p class="year">
          2011
        </p>
        <p class="name">
          Goodbye Lullaby
        </p>
        <a href="#" class="btn-save">Guardar</a>
      </div>
      <ul class="songs">
        <li class="item item-fixed">
          <span class="number">#</span>
          <span class="click">Canción</span>
          <span class="duration">x</span>
        </li>
        <li class="item">
          <span class="number">1</span>
          <span class="click">Black Star</span>
          <span class="duration">1:34</span>
        </li>
        <li class="item">
          <span class="number">2</span>
          <span class="click">What the Hell</span>
          <span class="duration">3:41</span>
        </li>
        <li class="item">
          <span class="number">3</span>
          <span class="click">Push</span>
          <span class="duration">3:01</span>
        </li>
        <li class="item">
          <span class="number">4</span>
          <span class="click">Wish You Were Here</span>
          <span class="duration">3:46</span>
        </li>
      </ul>
    </article>
  </div>
</section>
