<section id="profile" class="Perfil">
  <div class="Perfil-perfil unique">
    <div class="perfil">
      <a href="#" class="btn-back"><--</a>
      <a href="#" class="btn-back desktop">Profile<span> > Edit</span></a>
      <figure>
        <img src="/assets/img/avatares/leonidas.jpg" />
      </figure>
      <a href="#" class="btn-change">Change Photo</a>
      <h2>@{{username}}</h2>
    </div>
  </div>

  <div class="Perfil-edit">
    <form class="edit-user" method="post" action"/edit">
      <div class="campo-text">
        <p>Name</p>
        <input id="Ausername" class="name" name="name" type="username" placeholder="Name" value="{{name}}"/>
      </div>
      <div class="campo-text">
        <p>Username</p>
        <input id="Apassword" class="username" name="username" type="username" placeholder="Username" value="{{username}}"/>
      </div>
      <div class="campo-text">
        <p>Email</p>
        <input id="Apassword" class="email" name="email" type="email" placeholder="Email" value="{{email}}"/>
      </div>
      <div class="campo-text">
        <input type="submit" value="Save" />
      </div>
    </form>
  </div>
  <div class="Perfil-edit-password">
    <a href="#" class="btn-change">Change Password</a>
    <form class="edit-password" action="/edit" method="post">
      <div class="campo-text">
        <input id="Apassword" class="old" name="password" type="password" placeholder="Old Password" required />
      </div>
      <div class="campo-text">
        <input id="Apassword" class="new" name="password" type="password" placeholder="New Password" required />
      </div>
      <div class="campo-text">
        <input id="Apassword" class="confirm" name="password" type="password" placeholder="Confirm Password" required />
      </div>
      <div class="campo-text">
        <input type="submit" value="Change" />
      </div>
    </form>
  </div>
</section>
