<section id="profile" class="Perfil">
  <div class="Perfil-perfil">
    <div class="perfil">
      <a href="#" class="btn-edit">Edit</a>
      <figure>
        <img src="/assets/img/avatares/leonidas.jpg" />
      </figure>
      <h2>@{{username}}</h2>
    </div>
  </div>

  <div class="Perfil-playlist">
    <h2>Playlist</h2>
    <nav class="menu">
      <ul class="list center-block wrap">
        <li class="item"><a href="#">Me</a></li>
        <li class="item"><a href="#">Following</a></li>
      </ul>
    </nav>

    <div class="playlists">
      <div class="playlist-playlistVacia">
        <div class="mobile">
          <figure>
            <img src="/assets/img/vacia.jpg" />
          </figure>
          <p>
            Todavía no sigues ninguna playlist, empieza a escuchar y a descubrir
          </p>
        </div>
        <div class="desktop">
          <figure>
            <img src="/assets/img/agregarlist.jpg" />
          </figure>
          <a href="#">
            crea tu primera playlist
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
