<legend>Create Account</legend>
<div class="input">
  <span class="icon-user"></span>
  <input class="input-form" type="text" placeholder="Username" name="username">
</div>
<div class="input">
  <span class="icon-mail"></span>
  <input class="input-form" type="email" placeholder="Email" name="email">
</div>
<div class="input">
  <span class="icon-lock"></span>
  <input class="input-form" type="password" placeholder="Choose a password" name="password">
</div>
<!--div class="input">
  <span class="icon-lock"></span>
  <input class="input-form" type="password" placeholder="Confirm password">
</div-->
<button type="submit" id="sign-id" class="btn-submit">Sign In</button>