<form class="create" action"/login" method="POST">
  <h2>Create an account</h2>
  <p>
    <span class="icon-username"></span>
    <input name="username" id="username" type="username" placeholder="Username" />
  </p>
  <p>
    <span class="icon-email"></span>
    <input name="email" id="email" type="email" placeholder="Email" />
  </p>
  <p>
    <span class="icon-password"></span>
    <input name="password" id="password" type="password" placeholder="Choose a password" />
  </p>
  <p>
    <span class="icon-password"></span>
    <input id="password2" type="password" placeholder="Confirm password" />
  </p>
  <p>
    <input type="submit" class="btn-submit" id="sign-in" value="Register" />
  </p>
</form>
