.Share
    background rgba(#000, 0.9)
    position fixed
    top 0
    right -80%
    z-index 3
    width 80%
    max-width 520px
    height 100%
    &-container
        max-height 95%
        overflow-y auto
        padding-top 1em
        padding-left 1em
        width 15em
        form
            display none
            .input
                margin .2em 0
                border none
                outline none
                width 100%
                text-indent 1.5em
                padding 0
    &-item
        border-color #fefefe
        font-weight normal
        text-decoration none
        color #fefefe
        display block
        padding .5em
        margin 0
        span
            position: relative 
            margin-right .5em
    &-list
        max-height 60vh
        overflow-y auto
        list-style none
        margin 0
        li
            border-bottom 1px #fefefe solid
            a
                margin-left 1em
    &-close
        display block
        font-family arial
        font-weight 100
        font-size 2em
        color #fefefe
        text-decoration none
        margin-bottom .4em
    &-text
        border none
        outline none
        border-radius .4em
        padding 1em .5em
        width 92%
        margin 0 auto
        display block
    &-btns
        padding-top 1em
    &-btn
        btn-submit()
        float right
        border none
        display inline-block
        width 50%
    &-social
        display inline-block
        text-decoration none
        color #fefefe
        font-size 1.5em
        padding .4em
        
        border-radius 50%
    .icon-facebook
        background facebook
        margin-right .2em
    .icon-twitter
        background twitter