<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/assets/img/favicon.ico">
	<title>Login</title>
	<link rel="stylesheet" href="/app.css" />
</head>
<body id="login">
	<header class="portada">
		<figure class="isotipo">
			<img src="/assets/img/logo.png" alt="logo" />
		</figure>
		<a href="#" class="id-login">Login</a>
		<p class="texto center-block">All music that you like, everywhere</p>
		<a href="/auth/facebook" class="facebook center-block"><p><span class="icon-facebook"></span>Connect with Facebook</p></a>
		<a href="/auth/twitter" class=" twitter center-block"><p><span class="icon-twitter"></span>Connect with Twitter</p></a>
		<a href="#" class="id-create">Create Account</a>
	</header>
	<section class="login">
		<ul class="list Home-loginBasic">
			<li class="item"><a href="#" class="id-login">Log in</a></li>
			<li class="item"><a href="#" class="id-create">Create account</a></li>
		</ul>
		{% if message.length %}
		 	<div class="Home-message">{{ message }}</div>
		{% endif %}
		<div id="form">

		</div>
	</section>
	<section class="contenedor">
		<article>
			<figure class="img">
				<img src="/assets/img/cover2.jpg" />
			</figure>
			<div>
				<h2>Listen</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</article>
		<article>
			<figure class="img">
				<img src="/assets/img/cover_comparte2.jpg" />
			</figure>
			<div>
				<h2>Shares</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</article>
		<article>
			<figure class="img">
				<img src="/assets/img/cover_sigueplaylist2.jpg" />
			</figure>
			<div>
				<h2>Create and follow playlist</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
			</div>
		</article>
	</section>
	<section class="message">
		<p>Stars listening now</p>
	</section>
	<footer>
		<div>
			<p class="icon-sfotipy"></p>
			<a href="#">legal</a>
			<a href="#">about us</a>
		</div>
	</footer>
	<script src="/app.js"></script>
</body>
</html>







<!--DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/app.css">
	<link rel="icon" href="/assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>
  <section class="Home">
    <figure class="Home-logo">
      <img src="/assets/img/logo.png" alt="">
      <figcaption>All music that you like, everywhere</figcaption>
    </figure>
    <div class="Home-login">
      <ul class="Home-loginSocial">
        <li class="btn">
          <a href="auth/facebook" class="facebook"><span class="icon-facebook"></span>Connect with Facebook</a>
        </li>
        <li class="btn twitter">
          <a href="auth/twitter" class="twitter"><span class="icon-twitter"></span>Connect with Twitter</a>
        </li>
      </ul>

      <ul class="Home-loginBasic">
        <li>
          <a href="#" id="login">Log In</a>
        </li>
        <li>
          <a href="#" id="sign-in">Create Account</a>
        </li>
      </ul>
    </div>

		{% if message.length %}
		 	<div class="Home-message">{{ message }}</div>
		{% endif %}
    <form id="form" method="POST" action"/login" class="Home-createAccount">

    </form>

    <aside class="Home-landing">
      <div>
        <figure class="cover-hit">
          <img src="/assets/img/cover2.jpg" alt="" />
        </figure>
        <div class="copy">
          <p class="author">Listen</p>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div>
        <figure class="cover-hit">
          <img src="/assets/img/cover_comparte2.jpg" alt="" />
        </figure>
        <div class="copy">
          <p class="author">Shares</p>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div>
        <figure class="cover-hit">
          <img src="/assets/img/cover_sigueplaylist2.jpg" alt="" />
        </figure>
        <div class="copy">
          <p class="author">Creates and follow playlist</p>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="slug author">
        Stars listening now
      </div>
    </aside>

    <footer class="Home-footer">
     <div class="Home-footerConten">
        <span class="icon-sfotipy"></span>
        <span>
          <a href="#">about us</a>
          <a href="#">legal</a>
        </span>
      </div>
    </footer>
  </section>

  <script src="/app.js"></script>
  </body>
</html-->
