<h2 class="Library-title">Library / {{ name }}s</h2>
<div class="order-class">
    <select id="order">
      <option value="1">Sort by {{ name }}</option>
      <option value="2">Sort by {{ something }}</option>
    </select>
</div>
<section class="Library">
    <div class="loader"></div>
</section>
