<h2 class="Library-title">Library / {{ name }}s</h2>
<div class="order-class">
    <select id="order">
      {{#each order}}
        <option value="{{ this }}">Sort by {{ this }}</option>
      {{/each}}
    </select>
</div>
<section class="Library">
    <div class="loader"></div>
</section>
