section.ArtistView
  background gris_mas_claro
  .artist
    .info-artist
      .photo-artist
        width 200px
        height 200px
      .name-artist
        top 1.3em
        left 5em
        font-size 3em
        font-style italic
      .option-artist
        top 9em
        left 15.3em
        font-size 1em
        a
          margin-right .5em
  h2.title-2
    margin .5em 0
  .albums-artist
    .album
      .info-album
        .photo-album
          margin .5em 0
          width 150px
          height 150px
        .type
          left 160px
        .name
          font-size 1.2em
          left 160px
          top 40px
        .btns
          left 160px
          top 100px
        .btn
          padding .5em 1em
          font-size 1em
