section.ArtistView
  .artist
    background white
    .info-artist
      .photo-artist
        width 200px
        height 200px
      .name-artist
        top 2.5em
        left 8.5em
        font-size 1.7em
      .option-artist
        top 7em
        left 14.5em
        font-size 1em
  h2.title-2
    background white
    margin .5em 0
  .albums-artist
    .album
      background white
