section.ArtistView
  .artist
    background white
    .info-artist
      .photo-artist
        width 200px
        height 200px
      .name-artist
        top 3.3em
        left 8.5em
        font-size 1.7em
      .option-artist
        top 9em
        left 14.5em
        font-size 1em
        a
          background #bd255b
          color white
          padding .5em 1em
          border-radius 5px
          margin-right .5em
  h2.title-2
    background white
    margin .5em 0
  .albums-artist
    .album
      background white
