section.ArtistView
  .artist
    .info-artist
      .photo-artist
        background-position -10px -15px
        height 160px
        margin 1.5em
        width 160px
      .name-artist
        left 7.5em
        font-size 1.7em
      .option-artist
        left 12.8em
        font-size 1em
      .followers-artist
        right 1em
        font-size 1em
