section.ArtistView
  wrap()
  margin 0 auto
  padding-bottom 70px

  .artist
    .info-artist
      position relative
      overflow hidden
      .photo-artist
        display inline-block
        width 130px
        height 130px
        border-radius 50%
        background-image url("https://i.scdn.co/image/f86162368f30fa42f4d71a09270b9ce3f48995d9")
        background-size cover
        background-repeat no-repeat
        margin 1em
      .name-artist
        position absolute
        top 2.3em
        left 7.7em
        font-size 1.3em
      .option-artist
        position absolute
        top 6em
        left 12.5em
        font-size .8em
      .followers-artist
        position absolute
        bottom 1em
        right .5em
        font-size .8em
    .top-tracks
      .title
        font-size 1.3em
        font-weight 500
        text-align center
        background #818181
        height 2em
        line-height 2
        color white
        margin 0
      .songs
        list-style none
        .item
          padding 1em
          border-bottom 1px solid gris_oscuro
          cursor pointer
          .click
            display inline-block
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width calc(100% - 8em)
          .right
            font-size .8em
            margin-top .5em
  h2.title-2
    font-size 1.2em
    padding .5em 0
    margin .5em
    border-bottom 1px solid gris_oscuro
    color gris_oscuro
    font-weight 500
  .albums-artist
    .album
      margin-bottom 2em
      .info-album
        position relative
        overflow hidden
        .photo-album
          background url("https://i.scdn.co/image/8bfd094f04e3918075a80a72c2e683f2e10e8fb7")
          width 130px
          height 130px
          margin .5em
          background-repeat no-repeat
          background-size cover
        .year
          position absolute
          top 10px
          left 148px
          margin 0
          font-size .8em
        .name
          position absolute
          top 40px
          left 148px
          font-size 1.4em
          margin 0
        .btn-save
          position absolute
          top 95px
          left 148px
          padding .5em 1em
          background rojo
          color white
          border-radius 5px
      .songs
        margin-top 1em
        list-style none
        .item
          padding 1em 0
          border-bottom 1px solid gris_oscuro
          cursor pointer
          .number
            margin 0 .5em
            font-weight lighter
            float left
          .duration
            float right
            margin-right .5em
            font-weight lighter
          .click
            display inline-block
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width calc(100% - 5em)
        .item-fixed
          font-weight lighter
          cursor initial
