section.ArtistView
  wrap()
  margin 0 auto
  padding-bottom 70px

  div.loader.small
    margin 50px auto

  .artist
    .info-artist
      position relative
      overflow hidden
      .photo-artist
        display inline-block
        width 130px
        height 130px
        border-radius 50%
        background-size cover
        background-repeat no-repeat
        background-position center
        margin 1em
      .name-artist
        position absolute
        top 2.3em
        left 7.7em
        font-size 1.3em
      .option-artist
        position absolute
        font-size .8em
        top .8em
        left auto
        right .3em
        width 170px
          a
            padding .5em
      .followers-artist
        position absolute
        bottom 1em
        right .5em
        font-size .8em
    .top-tracks
      .title
        font-size 1.3em
        font-weight 500
        text-align center
        background #818181
        height 2em
        line-height 2
        color white
        margin 0
      .songs
        list-style none
        .item
          padding 1em
          border-bottom 1px solid gris_oscuro
          cursor pointer
          .click
            display inline-block
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width calc(100% - 8em)
          .right
            font-size .8em
            margin-top .5em
  h2.title-2
    font-size 1.2em
    padding .5em 0
    margin .5em
    border-bottom 1px solid gris_oscuro
    color gris_oscuro
    font-weight 500
  .albums-artist
    .album
      margin-bottom 1em
      .info-album
        position relative
        overflow hidden
        .photo-album
          width 130px
          height 130px
          margin .5em
          background-repeat no-repeat
          background-size cover
        .year
          position absolute
          top 10px
          left 148px
          margin 0
          font-size .8em
        .name
          position absolute
          top 40px
          left 148px
          font-size 1em
          margin 0
          cursor pointer
          &:hover
            text-decoration underline
        .btn-save
        .btn-play
          position absolute
          top 95px
          font-size .8em
          padding .5em
        .btn-save
          left 148px
        .btn-play
          left 220px
