section.ArtistView
  wrap()
  margin 0 auto
  padding-bottom 70px

  .artist
    .info-artist
      position relative
      .photo-artist
        display inline-block
        width 130px
        height 130px
        border-radius 50%
        background-image url("https://i.scdn.co/image/f86162368f30fa42f4d71a09270b9ce3f48995d9")
        background-position -25px -15px
        margin 1em
      .name-artist
        position absolute
        top 2.3em
        left 7.7em
        font-size 1.3em
      .option-artist
        position absolute
        top 6em
        left 12.5em
        font-size .8em
      .followers-artist
        position absolute
        bottom 1em
        right .5em
        font-size .8em
    .top-tracks
      .title
        font-size 1.3em
        text-align center
        background #818181
        height 2em
        line-height 2
        color white
        margin 0
      .songs
        list-style none
        .item
          padding 1em
          border-bottom 1px solid gris_oscuro
          .click
            display inline-block
          .right
            font-size .8em
            margin-top .5em
